*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-color: #303030;
  font-family: Garamond, serif;
  color: whitesmoke;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Garamond, serif;
  margin-top: 20px;
  margin-bottom: 80px;
}

#recordButton {
  padding: 15px 30px;
  background-color: #888888;
  border-color: #a020f0;
  font-size: 16px;
  font-family: "Courier New", monospace;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: relative;
  border-radius: 10px;
  margin-top: 20px; 
}

#recordButton:hover {
  transform: translateY(-5px) scale(1.05);
}
